.editorContainer
{

  .editorMenu{


    &.hidden{
      //display: none;
      opacity: 0;
      z-index: -999;
    }
    &.show{
      //display: block;
      opacity: 1;
      z-index: 999;
    }
  }
  .editorInsertToolbar{

    &.hidden{
      //display: none;

    }
    &.show{
      //display: block;

    }
    //&.expand{
    //  width: 400px;
    //}
    .content{

      .addImgOptions{

        form{


        }


      }

      &.hidden{

      }
    }
    input[type="file"]{

    }
  }


  .highlighted{
    background-color: rgb(255, 192, 203);
  }
}
