.h4, h4{
	line-height: 26px;
}
.no-padding{
  padding:0;
}
.inline{
  display: inline-block;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}
.vertical-align-middle{
  vertical-align: middle;
}