.editorContainer{

  .highlighted{
    background-color: #79b7e7;
  }
  .btn{
    cursor: pointer;
    padding:10px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid lightblue;
    margin: 1px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover{
      background-color: rgba(173, 216, 230, 0.39);
    }
  }

  .editorMenu{
    display: none;

    position: absolute;
    /* width: 300px; */
    height: 39px;
    background-color: white;
    border: 1px solid tan;
    padding: 5px;
    -webkit-transition: left 0.1s linear, top 0.1s linear;
    -moz-transition: left 0.1s linear, top 0.1s linear;
    -ms-transition: left 0.1s linear, top 0.1s linear;
    -o-transition: left 0.1s linear, top 0.1s linear;
    transition: left 0.1s linear, top 0.1s linear;


    animation-duration: 0.5s;
    animation-delay: 0s;

    &.show{
      display:block;
    }
    ///
    .linkingStuff{
      display: none;

      position: absolute;
      top: 0;
      width: 100%;
      background-color: forestgreen;
      left: 0;
      height: 100%;


      &.show{
        display: block;
      }
    }
  }

  /* */
  .editor{
    margin: 20px;
    border: 1px solid lightcoral;
    padding: 0 20px 0 20px;
    &:focus{
      outline:none;
    }
    p, blockquote, h1, h2, h3{
      font-family: Trebuchet, 'Trebuchet MS', Arial, sans-serif;
    }
    p, blockquote, h1, h2, h3, code, pre{
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
    p{
      min-height: 27px;
      letter-spacing: -0.072px;
      line-height: 27px;
    }
    p:focus {
      outline: rgba(255, 255, 255, 0);
    }
    blockquote{
      font-style: italic;
      border-left: 3px solid rgba(0,0,0,0.8);
      padding-left: 20px;
      //margin-left: -23px;
      margin-bottom: 30px;
      padding-bottom: 3px;
    }
    .alignCenter{
      text-align: center;
    }

  }

  .editorInlineTooltip{
    position: absolute;
    width: auto;
    height: 40px;
    //opacity: 0;
    display: none;
    z-index: -999;

    -webkit-transition: top 0.5s ease, opacity 0.3s ease;
    -moz-transition: top 0.5s ease, opacity 0.3s ease;
    -ms-transition: top 0.5s ease, opacity 0.3s ease;
    -o-transition: top 0.5s ease, opacity 0.3s ease;
    transition: top 0.5s ease, opacity 0.3s ease;



    &.show{
      //opacity: 1;
      display: block;
      z-index: 999;
    }
    ///
    .content{
      display: none;
      &.show{
        display: inline-block;
      }

      ///
      .addImgOptions{
        display:none;
        
        position:absolute;
        width:250px;
        background-color: white;
        top: 0;
        &.show{
          display: block;
        }

        ///
        form{
          display: none;

          position: absolute;
          background-color: white;
          left: 0;
          z-index: 300;
          width: 100%;
          height: 100%;
          &.show{
            display: inline-block;
          }

          ///
          input[name="pastedImgUrl"]{
            width: 100%;
            height: 84%;
            font-size: 16px;
            font-family: Trebuchet, 'Trebuchet MS', Arial, sans-serif;
            font-weight: 500;
            border: 1px solid rgb(173, 216, 230);
            border-radius: 0;
            padding-left: 7px;
            padding-right: 7px;
            margin-top: 1px;
            &:focus{
              outline: none;
            }
          }

        }

        .uploadImgBtn{
          position: relative;
          overflow: hidden;
          display: inline-block;

          ///
          input[type="file"]{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            direction: ltr;
            cursor: pointer;
            //&.show{
            //  display: block;
            //}
          }
        }
      }
    }


  }

}